.button {
  width: 100%;
  font-size: 30px;
  display: flex;
  height: 10%;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #d73a3a;
  color: white;
  padding: 10px 40px;
  border: 1px solid darkgrey;
  border-radius: 5px;
}